$my-grey: #292c34;
$my-purple: #928ace;

// Include any default variable overrides here (though functions won't be available)

$primary: #a46efa;
$secondary: #c4c4c4;
$dark: $my-grey;
$h6-font-size: 0.9rem;

@import "./bootstrap/bootstrap.scss";

// Then add additional custom code here

// BTN
.btn-primary {
	color: white;
}

// PAGINATION
.paging {
	display: grid;
}

.pagination {
	justify-self: center;
}

// BASE
body {
	display: grid;
	grid-template-rows: 56px minmax(89vh, auto) 6vh;
	font-family: "Manrope", sans-serif;
}

main {
	display: grid;
	align-items: center;
}

// NAVBAR
.navbar-brand:before {
	content: "";
	width: 29px;
	height: 29px;
	background: $primary;
	position: absolute !important;
	display: inline-block !important;
	z-index: -1 !important;
	border-radius: 50% !important;
	left: -12px !important;
	top: 7px !important;
}
.navbar-brand {
	position: relative !important;
	left: 12px !important;
	z-index: 1 !important;
}

// HERO

.hero {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 25px;
}

.hero-title {
	grid-row: 1;

	h1 {
		font-size: 2.5rem;
	}

	p {
		margin-top: 15px;
	}
}

.hero-text {
	grid-row: 3;
	display: grid;

	a {
		width: 150px;
		margin-top: 26px;
		justify-self: center;
		text-decoration: none;
	}
}

.hero-avatar {
	grid-row: 2;
}

.hero-avatar div {
	position: relative;
	display: flex;
	justify-content: center;
	left: 23px;
}

.hero-avatar div:before {
	content: "";
	width: 370px;
	height: 370px;
	max-width: 100%;
	max-height: 100%;
	background: white;
	position: absolute !important;
	display: inline-block !important;
	z-index: -1 !important;
	border-radius: 50% !important;
	left: -23px !important;
	top: -15px;
}

.hero-avatar img {
	width: 370px;
	max-height: 370px;
}

@include media-breakpoint-up(lg) {
	.hero {
		grid-template-columns: 1fr 1fr;
	}

	.hero-title {
		grid-column: 1;

		h1 {
			font-size: 3.5rem;
		}
	}

	.hero-text {
		grid-column: 1;
		grid-row: 2;
	}

	.hero-avatar {
		grid-column: 2;
		grid-row: 1 / 3;

		div {
			top: 61px;
		}
	}
}

// FOOTER
.footer {
	display: grid;
	align-content: center;
	grid-template-rows: 1fr;
	grid-row-gap: 10px;
}
.social {
	width: 136px;
}

@include media-breakpoint-up(md) {
	.footer {
		grid-template-columns: 1fr auto 1fr;
	}
	.copyright {
		grid-column: 1;
	}
	.social {
		grid-column: 2;
	}
}

// BLOG INDEX
.blog {
	display: grid;
	grid-template-rows: auto minmax(64vh, auto);
	grid-row-gap: 20px;
}

.hero_blog-title {
	padding: 3rem 0;
	background: no-repeat url(/public/img/mask.png);
	background-position: center;
	background-size: 135px;
	font-size: 3rem;
}

@include media-breakpoint-up(lg) {
	.hero_blog-title {
		padding: 5rem 0;
		font-size: 5rem;
		background-size: auto;
	}
}

// POSTS
.posts {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
	grid-template-rows: repeat(auto-fit,350px);
}
.post {
	display: grid;
	grid-template-rows: 25px 130px 25px 20px 110px 27px 0;
}

.post-infos {
	font-weight: 600;
}

.post-infos-comments:before {
	content: url(/public/img/icon_comments.png);
	display: inline-block;
	position: relative;
	top: 3px;
	right: 5px;
}

.post-h2 {
	align-self: center;
}

.post-h2 a {
	text-decoration: none;
	font-weight: 600;
}
